[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cryptography = "*"
notebook = "*"
numpy = "*"
pandas = "*"
python-decouple = "*"
SQLAlchemy = "*"
psycopg2-binary = "*"
PyMySQL = "*"

[dev-packages]

[requires]
python_version = "3.8"
